{% extends 'club/layout.html' %}
{% block content %}
<style>

</style>
<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark bg-image" 
    style="background-image: url('https://content.ikon.mn/news/2020/10/30/h95i13_MPA_PHOTO_2020-8-0227_x974.jpg');
           height: 400px"">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Монгол Улсын Их Сургууль</h1>
        <p class="lead my-3">Бидний энэ төсөл нь клуб хоорондыг өрсөлдүүлэх, оюутанд хэрэгтэй клубыг нь сонгоход нь туслахад оршино.</p>
        <!-- <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p> -->
      </div>
    </div>

  
    <div class="row g-5">
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
          Таны болон бидний ирээдүйн талбар
        </h3>
  
        <article class="blog-post">
          <h2 class="blog-post-title mb-1">StartPoint гэдэг үгний утга санаа юу вэ?</h2>
          <p class="blog-post-meta">Дөрөвдүгээр сарын 1, 2023  <a href="#">Mark</a></p>
  
          <p>Бидний бүтээлийн нэрний утга учир нь оюутан таньд клубуудын талаар мэдээлэл өгөх, би аль клубд орвол илүү өөрийгөө хөгжүүлж, шинэ хүмүүстэй танилцах мэдээлэлийн <strong>эхлэлийн цэг</strong> нь энэ вэб хуудас болно гэсэн санаатай. </p>
          <hr>
          <p>Дээрээс нь бид клуб хоорондыг өрсөлдүүлж, топ 10 клубуудыг салбар сургууль болгоноор хувааж оюутан таньд харуулах болно.</p>
          <h2>Хэн энэ вэб хуудас дээр пост оруулж чадах вэ?</h2>
          <p>Клубуудын ахлахууд хийсэн бүтээлээ тайлагнана.</p>
          <blockquote class="blockquote">
            <p>Оюутан бид энэ клубуудад хэрхэн үнэлгээ өгөх вэ?</p>
          </blockquote>
          <p>Клубуудын хийсэн бүтээлийн доор коммэнт бичих, үнэлгээ өгснөөр клубуудыг үнэлж чансаа үүсгэнэ.</p>
        </article>
  
        <article class="blog-post">
          <h2 class="blog-post-title mb-1">Another blog post</h2>
          <p class="blog-post-meta">December 23, 2020 by <a href="#">Jacob</a></p>
  
          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
          <blockquote>
            <p>Longer quote goes here, maybe with some <strong>emphasized text</strong> in the middle of it.</p>
          </blockquote>
          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
          <h3>Example table</h3>
          <p>And don't forget about tables in these posts:</p>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Upvotes</th>
                <th>Downvotes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Alice</td>
                <td>10</td>
                <td>11</td>
              </tr>
              <tr>
                <td>Bob</td>
                <td>4</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Charlie</td>
                <td>7</td>
                <td>9</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Totals</td>
                <td>21</td>
                <td>23</td>
              </tr>
            </tfoot>
          </table>
  
          <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
        </article>
  
        <article class="blog-post">
          <h2 class="blog-post-title mb-1">New feature</h2>
          <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>
  
          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
          <ul>
            <li>First list item</li>
            <li>Second list item with a longer description</li>
            <li>Third list item to close it out</li>
          </ul>
          <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
        </article>
  
        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
          <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
        </nav>
  
      </div>
  
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">March 2021</a></li>
              <li><a href="#">February 2021</a></li>
              <li><a href="#">January 2021</a></li>
              <li><a href="#">December 2020</a></li>
              <li><a href="#">November 2020</a></li>
              <li><a href="#">October 2020</a></li>
              <li><a href="#">September 2020</a></li>
              <li><a href="#">August 2020</a></li>
              <li><a href="#">July 2020</a></li>
              <li><a href="#">June 2020</a></li>
              <li><a href="#">May 2020</a></li>
              <li><a href="#">April 2020</a></li>
            </ol>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  
</main>
{% endblock %}